<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar2" id="sidebar2">
    <!-- sidebar menu: : style can be found in sidebar.less -->

      <header class="sidebar-header">
      <a class="logo-icon" href="https://pusiknas.polri.go.id/" target="_blank"><img
          src="/img/pusiknas-small.png" alt="logo"></a>
      <span class="logo">
        <a href="#"><img src="/img/logo-cmis2.png" alt="logo"></a>
      </span>
      <span class="sidebar-toggle-fold"></span>
    </header>
    <nav class="sidebar-navigation">
      <ul class="menu">
  		<li class="menu-item" th:each="row : ${menus}">
          <a class="menu-link" th:href="${row.href}">
            <span class="title" th:text="${row.nameMenusId}"></span>
            <span class="arrow" th:if="${!row.childrens.isEmpty()}"></span>
            <span th:class="${row.iconMenus}" style="color: #fbeae0"></span>
          </a>
          <ul class="menu-submenu" th:if="${!row.childrens.isEmpty()}">
          <li class="menu-item" th:each="children : ${row.childrens}">
              <a class="menu-link ajax" th:href="${children.href}">
                <span class="dot"></span>
                <span class="title" th:text="${children.nameMenusId}"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</section>
<!-- /.sidebar -->