<div class="row" style="margin: 25px 0px;">
	<h4><i class="icon fa fa-list-alt"></i> Karyawan</h4>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<ol class="card-title breadcrumb">
					<h4>
						<li><i class="fa fa-navicon"></i> DATA KARYAWAN</li>
					</h4>
				</ol>
				<a class="btn btn-w-md btn-bold btn-primary pull-right" href="#" data-toggle="modal"
					data-target="#modal-karyawan" id="btn-tambah-jk"><i class="ti-plus"></i>
					Tambah</a>
			</div>

			<div th:if="${message}" th:inline="text" th:class="${'alert alert-dismissible fade show ' + alertClass}">
				[[${message}]]
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="row">
				<div class="card-body">
					<table id="menusTable" class="table table-striped table-bordered" cellspacing="0"
						data-provide="datatables">
						<thead>
							<tr>
								<th width="5%">No</th>
								<th width="27%">Name</th>
								<th width="27%">Tanggal Lahir</th>
								<th width="3%" hidden>idJab</th>
								<th width="27%">Jabatan</th>
								<th width="27%">NIP</th>
								<th width="27%">Jenis Kelamin</th>
								<th width="10%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row : ${list}">
								<td th:text="${row.id}"></td>
								<td th:text="${row.name}"></td>
								<td th:text="${#dates.format(row.birthDate, 'dd-MMMM-yyyy')}"></td>
								<td th:text="${row.positionId}" hidden></td>
								<span th:each="cat : ${listCatJk}" th:if="${cat.id} == ${row.positionId}">
									<td th:text="${cat.name}"></td>
								</span>
								<td th:text="${row.idNumber}"></td>
								<span th:switch="${row.gender}" >
									<td th:case="1">Pria</td>
									<td th:case="2">Wanita</td>
								</span>
								<td>
									<button class="btn btn-float btn-act-view" id="btn-view-jk">
										<i class="ti-list"></i>
									</button>
									<button class="btn btn-float btn-act-edit" id="btn-pencil-jk">
										<i class="ti-pencil"></i>
									</button>
									<button class="btn btn-float btn-act-delete" id="btn-trash-jk">
										<i class="ti-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:replace="~{employee/add :: frag-modal-jk}"></div>
			</div>
		</div>
		<!--/.main-content -->
		<!-- Footer -->
		<span id="listCatJk" style="display: none;" th:text="${listCatJkJson}"></span>
		<!-- END Footer -->
	</div>
</div>
<script type="text/javascript">
	setSelectCatJK();
	function setSelectCatJK() {
		var listCatJk = document.getElementById("listCatJk").innerHTML;
		var listCatJk = $.parseJSON(listCatJk);
		$('<option/>').val('').html('-- PILIH JABATAN --').appendTo('#id-slc-cat-jk').addClass('form-control');
		for (var i = 0; i < listCatJk.length; i++) {

			$('#id-slc-cat-jk').append('<option value="' + listCatJk[i]["id"] +
				'">' + listCatJk[i]["name"] + '</option>');
		}
	};

	$('#btn-tambah-jk').on('click', function () {
		$('#id-id-jk').val("").prop('disabled', false);
		$('#id-nama-jk').val("").prop('disabled', false);
		$('#id-nip-jk').val("").prop('disabled', false);
		$('#id-bd-jk').val("").prop('disabled', false);
		$('#id-slc-cat-jk').val("").prop('disabled', false);
		$('.modal-footer').show();
	});

	$('#menusTable').on('click', '#btn-view-jk', function () {
		var id = $('#menusTable').DataTable().row($(this).closest('tr')).data()[0];
		var idCatJenis = $('#menusTable').DataTable().row($(this).closest('tr')).data()[3];
		var nama = $('#menusTable').DataTable().row($(this).closest('tr')).data()[1];
		var nip = $('#menusTable').DataTable().row($(this).closest('tr')).data()[5];
		var bd = $('#menusTable').DataTable().row($(this).closest('tr')).data()[2];
		var gen = $('#menusTable').DataTable().row($(this).closest('tr')).data()[6];
		var dateVar = new Date(bd);
		var d = dateVar.toString('dd-mm-yyyy');
		console.log(d);
		$('#modal-karyawan').modal('show');
		$('#id-id-jk').val(id).prop('disabled', true);
		$('#id-slc-cat-jk').val(idCatJenis).change().prop('disabled', true);
		$('#id-nama-jk').val(nama).prop('disabled', true);
		$('#id-nip-jk').val(nip).prop('disabled', true);
		$('#id-bd-jk').val(d).prop('disabled', true);
		$('.modal-footer').hide().prop('required', false);
	});

	$('#menusTable').on('click', '#btn-pencil-jk', function () {
		var id = $('#menusTable').DataTable().row($(this).closest('tr')).data()[0];
		var idCatJenis = $('#menusTable').DataTable().row($(this).closest('tr')).data()[3];
		var nama = $('#menusTable').DataTable().row($(this).closest('tr')).data()[1];
		var nip = $('#menusTable').DataTable().row($(this).closest('tr')).data()[5];
		var bd = $('#menusTable').DataTable().row($(this).closest('tr')).data()[2];
		var gen = $('#menusTable').DataTable().row($(this).closest('tr')).data()[6];
		var dateVar = new Date(bd);
		var d = dateVar.toString('dd-mm-yyyy');
		if(gen == "Pria"){
			gen = 1;
		} else {
			gen = 2;
		}

		$('#modal-karyawan').modal('show');
		$('#id-id-jk').val(id).prop('disabled', false);
		$('#id-slc-cat-jk').val(idCatJenis).change().prop('disabled', false);
		$('#id-nama-jk').val(nama).prop('disabled', false);
		$('#id-nip-jk').val(nip).prop('disabled', false);
		$('#id-bd-jk').val(d).prop('disabled', false);
		$('#id-gen-jk').val(gen).prop('checked', true);
		$('.modal-footer').show();
	});

	$('#menusTable').on('click', '#btn-trash-jk', function () {
		var id = $('#menusTable').DataTable().row($(this).closest('tr')).data()[0];

		swal({
			title: "Hapus Data ?",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
			.then((willDelete) => {
				if (willDelete) {
					$.ajax({
						url: '/employee/delete',
						type: 'POST',
						data: { id },
						async: false,
						success: function (res) {
							swal("Sukses Hapus Data Karyawan!", {
								icon: "success",
							}).then((value) => {
								loadAllContent('html')
							});
						}
					});
				}
			});
	});

	hideAlert();
	function hideAlert() {
		if ($('.alert').show()) {
			setTimeout(function () {
				$('.alert').hide();
			}, 10000);
		}
	}
</script>