<!-- Filter data -->


<!-- Filter data -->
<div class="main-content">
	<!-- Dian tulung benerin breadcrumbnya -->
	<div class="row">
		<div class="col-md-5">
			<h5>
				<p><i class="fa fa-dashboard"></i>DASHBOARD</p>
			</h5>
			<ol class="breadcrumb">
				<li class="active">Dashboard</li>
			</ol>
		</div>
		<!-- Filter data -->
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Mulai"
							data-provide="datepicker"> <span
							class="input-group-addon"> <i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Selesai"
							data-provide="datepicker"> <span
							class="input-group-addon"> <i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-md-2">
					<select data-provide="selectpicker">
						<option>Laporan Informasi</option>
						<option selected>Laporan DG TECH</option>
					</select>
				</div>
			</div>
		</div>
		<br /> <br />
		<div class="col-md-3">
			<div class="card card-body card-small-1">
				<span class="fw-400">SA</span>
				<div class="flexbox">
					<div class="text-left">
						<span class="fw-200 h7">Pria = 1011 <span
							class="card-deep">+27</span></span> <span class="fw-200 h7">
							Wanita = 412 <span class="card-deep">+2</span></i>
						</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body card-small-2">
				<div class="flexbox">
					<div class="text">
						<span class="fw-400">Tester</span><br> <span
							class="fw-200">1423</span> <span class="card-deep">+29</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body card-small-3">
				<div class="flexbox">
					<div class="text">
						<span class="fw-400">Programmer</span><br> <span
							class="fw-200">143</span> <span class="card-deep">+4</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body card-small-4">
				<div class="flexbox">
					<div class="text">
						<span class="fw-400">BPS</span><br> <span
							class="fw-200">1280</span> <span class="card-deep">+25</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">
						<strong>Jumlah Karyawan</strong>
					</h5>
				</div>
				<div class="card-body">
					<ul class="list-inline text-center gap-items-4 mb-30">
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #01c4cc"></span> <span>by
								Filter</span></li>
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #C576BF"></span> <span>Keseluruhan</span>
						</li>
					</ul>
					<canvas id="chart-js-2" height="130" data-provide="chartjs"></canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<h5 class="card-title">
					<strong>Jam Kerja</strong> Karyawan
				</h5>
				<div class="card-body">
					<canvas id="chart-hbar-1" height="480" width="400"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Peta Persebaran Karyawan</h5>
				</div>
				<div class="card-body">
					<img src="/img/indonesia.png"> <br /> <br />
					<ul class="list-inline text-center gap-items-4 mb-30">
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #5ABA00"></span> <span>TKP LP
								<100 </span></li>
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #D3FF39"></span> <span>TKP LP
								100-500 </span></li>
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #FEFF00"></span> <span>TKP LP
								500-1000 </span></li>
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #F8BE00"></span> <span>TKP LP
								1000-10000 </span></li>
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #EE3E00"></span> <span>TKP LP
								10000-100000 </span></li>
						<li class="list-inline-item"><span
							class="badge badge-lg badge-dot mr-1"
							style="background-color: #C9046D"></span> <span>TKP LP
								>100000 </span></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
<!--/.main-content -->
<!-- Footer -->
<!-- END Footer -->
<script>
	app.ready(function() {
				// Scoll to the end of chat content
				$('#chat-content').scrollToEnd();
				// Earning chart
				//
				var chartjs2 = new Chart(
						$(" #chart-js-2"),
						{
							type : 'bar',
							data : {
								labels : [ "TER", "NAR", "PM", "PO",
										"PSA", "CU", "KRP", "CC", "PH",
										"PL", "PII", "HAKI", "PBK" ],
								datasets : [
										{
											label : "Filter Data",
											backgroundColor : "rgba(51,202,185,0.5)",
											borderColor : "rgba(51,202,185,0.5)",
											pointRadius : 0,
											data : [ 11, 2, 42, 12, 13,
													40, 41, 22, 11, 2,
													9, 24, 57 ]
										},
										{
											label : "Keseluruhan",
											backgroundColor : "#C576BF",
											borderColor : "rgba(243,245,246,0.8)",
											pointRadius : 0,
											data : [ 32, 23, 55, 12,
													57, 90, 44, 33, 11,
													11, 18, 50, 82 ]
										} ]
							},
							options : {
								legend : {
									display : false
								},
							}
						});
			});
</script>
<script>
	app.ready(function() {
		// Scoll to the end of chat content
		$('#chat-content').scrollToEnd();
		// ==============================================
		// Horizontal bar chart 1
		//
		new Chart($("#chart-hbar-1"), {
			type : 'horizontalBar',
			// Data
			//
			data : {
				labels : [ "00:00 - 03:00", "03:00 - 06:00",
						"06:00 - 09:00", "09:00 - 12:00",
						"12:00 - 15:00", "15:00 - 18:00",
						":18:00 - 21:00", "21:00 - 00:00" ],
				datasets : [ {
					label : "by Filter",
					backgroundColor : "rgba(51,202,185,0.5)",
					borderColor : "rgba(0,0,0,0)",
					hoverBackgroundColor : "rgba(51,202,185,0.7)",
					hoverBorderColor : "rgba(0,0,0,0)",
					pointRadius : 5,
					data : [ 10, 59, 80, 58, 20, 55, 40, 11 ]
				}, {
					label : "Keseluruhan",
					backgroundColor : "#C576BF",
					borderColor : "rgba(0,0,0,0)",
					hoverBackgroundColor : "#C576BF",
					hoverBorderColor : "rgba(0,0,0,0)",
					pointRadius : 5,
					data : [ 15, 68, 92, 58, 23, 57, 90, 120 ]
				} ]
			},
			// Options
			//
			options : {
				scales : {
					xAxes : [ {
						ticks : {
							beginAtZero : true
						}
					} ]
				}
			}
		});
		new Chart($("#chart-line-2"), {
			type : 'line',

			// Data
			//
			data : {
				labels : [ "2017", "2018", "2019", "2020" ],
				datasets : [ {
					label : "Total Kejahatan",
					fill : false,
					borderWidth : 3,
					pointRadius : 5,
					borderColor : "#9966ff",
					pointBackgroundColor : "#9966ff",
					pointBorderColor : "#9966ff",
					pointHoverBackgroundColor : "#fff",
					pointHoverBorderColor : "#9966ff",
					data : [ 400, 313, 342, 162 ]
				} ]
			},

			// Options
			//
			options : {
				legend : {
					display : false
				},
			}
		});

	});
</script>
